.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #001938;
  font-family: "Visby Bold", sans-serif;
    color: #fff;

  @media (min-width: 1024px) {

    flex-direction: row;
  }
}


.listText{
    font-family: 'Visby Regular', sans-serif;
    font-size: 1rem;
    color: #fff;
    text-align: center;

  span{
    font-family: Roboto, sans-serif;
  }
}

.footerText{
  font-family: 'Visby Regular', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;

  span{
    font-family: Roboto, sans-serif;
  }
}